<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:with="pageTitle='Excluir Moto', content=~{::content}"
      th:insert="~{fragments/_layout}">
<div th:fragment="content" class="col-lg-7">
    <h1 class="h5">Tem certeza que deseja excluir a moto <span th:text="${dto.idMoto}">ID</span>?</h1>
    <p><strong>Modelo:</strong> <span th:text="${dto.modelo}">Modelo</span> •
        <strong>Placa:</strong> <span th:text="${dto.placa}">Placa</span></p>

    <form th:action="@{|/motos/${dto.idMoto}|}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <button class="btn btn-danger" type="submit">Excluir</button>
        <a class="btn btn-outline-secondary" th:href="@{/motos}">Cancelar</a>
    </form>
</div>
</body>
</html>
