<nav xmlns:th="http://www.thymeleaf.org" th:fragment="pager(page, baseUrl)">
  <ul class="pagination">
    <!-- Anterior -->
    <li class="page-item" th:classappend="${page.first} ? 'disabled'">
      <a class="page-link"
         th:href="@{${baseUrl}(page=${page.number-1},size=${page.size})}">Anterior</a>
    </li>

    <!-- Indicador simples (página atual / total) -->
    <li class="page-item disabled">
      <span class="page-link"
            th:text="${page.number + 1} + ' / ' + (${page.totalPages} == 0 ? 1 : ${page.totalPages})">1 / 1</span>
    </li>

    <!-- Próxima -->
    <li class="page-item" th:classappend="${page.last} ? 'disabled'">
      <a class="page-link"
         th:href="@{${baseUrl}(page=${page.number+1},size=${page.size})}">Próxima</a>
    </li>
  </ul>
</nav>
