<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:with="pageTitle='Excluir Pátio', content=~{::content}"
      th:insert="~{fragments/_layout}">
<div th:fragment="content" class="col-lg-7">
  <h1 class="h5">
    Tem certeza que deseja excluir o pátio
    <span th:text="${dto.idPatio}">ID</span>?
  </h1>

  <p>
    <strong>Nome:</strong> <span th:text="${dto.nome}">Nome</span> •
    <strong>Telefone:</strong> <span th:text="${dto.telefone}">Telefone</span> •
    <strong>Endereço:</strong> <span th:text="${dto.endereco}">Endereço</span>
  </p>

  <form th:action="@{|/patios/${dto.idPatio}|}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <button class="btn btn-danger" type="submit">Excluir</button>
    <a class="btn btn-outline-secondary" th:href="@{/patios}">Cancelar</a>
  </form>
</div>
</body>
</html>
