<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:with="pageTitle='Excluir Ponto', content=~{::content}"
      th:insert="~{fragments/_layout}">
<div th:fragment="content" class="col-lg-7">
  <h1 class="h5">
    Tem certeza que deseja excluir o ponto
    <span th:text="${dto.idPonto}">ID</span>?
  </h1>

  <p>
    <strong>Nome do Ponto:</strong> <span th:text="${dto.nomePonto}">—</span> •
    <strong>Pátio (ID):</strong> <span th:text="${dto.idPatio}">—</span>
  </p>

  <form th:action="@{|/pontos/${dto.idPonto}|}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <button class="btn btn-danger" type="submit">Excluir</button>
    <a class="btn btn-outline-secondary" th:href="@{/pontos}">Cancelar</a>
  </form>
</div>
</body>
</html>
